#successful-book-viewer{
    background-color: #1e656d !important;
    color: white;
    text-align: center;
    height: 200px;
}
#btn-book-more{
    background-color: #EE693F;
    border-color: #EE693F;
}
